S@charset "utf-8";
/* CSS Document */

#card {
	margin: auto;
	padding: 10px;
	height: 460px;
	width: 300px;
	background-color: #2AD4E8;
	border-radius: 20px;
}

#pic {
	background-color: #CF95D7;
	margin: auto;
	height: 200px;
	width: 200%;
	border-radius: 100px;
	background-image: url(images/head2.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
#pic {
	background-color: #C991D3;
	margin: auto;
	height: 200px;
	width: 200px;
}
#word {
	margin: auto;
	width: 60%;
	color: #FFFFFF;
}

h1 {
}
